.hamburger-menu {
  display: none;
}
.imgLogo {
  content: '';
  background-image: url('../../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 190px;
  height: 72px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.login-button {
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #bfc3cf;
  font-family: var(--font-family);
  outline: none;
  font-weight: 700;
  padding: 11px 54px;
  max-height: 45px;
  text-align: right;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 2px;
  width: 99%;
  color: #323131;
  border-radius: 22.5px;
  transition: all 0.4s ease;
}

.login-button:hover {
  border: 1px solid #82848b;
  color: #fff;

  background-color: #999b9e;
}

.dropdown {
  display: none;
}
.firstitem {
  transition: all 0.5s ease;
}
#page-wrap {
  border: none;
  text-align: center;
}

/* Individual item */
.bm-item {
  display: block;
  padding: 12px 24px;

  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #f76b1c;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */

.bm-burger-button {
  display: none;
  position: fixed;
  border: none;
  width: 25px;
  height: 20px;
  left: 21px;
  top: 9px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #eceff1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu__item.menu__item-block.active {
  color: #000;
}

.firstitem::after {
  content: '';
  display: block;
  background-image: url('../../assets/checksvg.svg');
  background-repeat: no-repeat;
  width: 8px;
  position: absolute;
  left: 182px;
  top: 204px;
  height: 5px;
}

.firstitem:hover .dropdown {
  display: block;
  z-index: 999;
}

.login-button:hover .dropdown {
  display: inline-block;
  left: 0px;

  z-index: 999;
}

.dropdownLinkBtn a {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding: 10px;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  color: #323131;
  transition: all 0.5 ease;
}

.dropdownLinkBtn a:hover {
  color: #f76b1c;
}

.dropdown-shadow {
  padding-left: 0;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 8px 28px 47px 26px rgba(34, 60, 80, 0.2);
}

.dropdownLink {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  color: #323131;
  transition: all 0.5 ease;
}

.dropdownLink:hover {
  background-color: #cfd8dc;
  width: 100%;
  color: #f76b1c;
}

.menu__item:first-child:hover .dropdown {
  display: block;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 100;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 14px;
    left: 16px;
    width: 26px;
    height: 1px;

    cursor: pointer;
    z-index: 100;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 300px;
    height: 150%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .bm-burger-button {
    position: fixed;
    width: 25px;
    display: block;
    height: 20px;
    left: 21px;
    top: 9px;
  }
}
