.monitoring {
  margin-top: 100px;
}

.monitoringBlock {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.monitoringBlockRight {
  text-align: left;
  margin-left: 120px;
}

.monitoringTitleLeft {
  margin-right: 120px;
  text-align: right;
}

.monitoringDescLeft {
  text-align: right;
  margin-right: 120px;
}

.monitoringTitle {
  font-size: 60px;
  line-height: 48px;

  color: #323131;
}

.monitoringDesc {
  font-size: 16px;
  line-height: 26px;

  color: #323131;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .monitoringBlockRight {
    margin-left: 20px;
  }
}

/* 768 width+  */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .monitoring {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .monitoringBlock {
    text-align: center;
  }

  .monitoringBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imgWidth {
    width: 100%;
  }

  .monitoringBlockRight {
    margin-left: 0;
  }

  .monitoringTitle {
    font-size: 50px;
    text-align: center;
  }

  .monitoringDesc {
    text-align: center;
  }

  .monitoringTitleLeft {
    margin-right: 0;
    text-align: center;
  }

  .monitoringDescLeft {
    text-align: center;
    margin-right: 0;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .monitoring {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .imgWidth {
    width: 100%;
  }

  .monitoringBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .monitoringBlockRight {
    margin-left: 0;
  }

  .monitoringTitle {
    font-size: 50px;
    text-align: center;
  }

  .monitoringDesc {
    text-align: center;
  }

  .monitoringTitleLeft {
    margin-right: 0;
    text-align: center;
  }

  .monitoringDescLeft {
    text-align: center;
    margin-right: 0;
  }
}
