.pricing {
  margin-top: 25px;
  height: 418px;
  position: relative;
}

.pricing::before {
  content: '';
  position: absolute;
  filter: blur(5px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  width: 100%;
  top: 20%;
  left: 0;
  border-radius: 20%;
  background: #fff;
  height: 205px;
  opacity: 0.5;
}

.imgProp {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: 50%;

  object-fit: cover;
  max-height: 415px;
}

.title {
  font-family: 'Squada One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  width: 100%;
  white-space: wrap;
  line-height: 68px;
  text-align: center;
  position: relative;
  top: -300px;
  z-index: 100;

  border-radius: 50%;
  bottom: 89.59%;
  color: #323131;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    position: relative;
    display: block;
  }

  .pricing::before {
    content: '';

    filter: blur(0);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    width: 0;
    top: 20%;
    left: 25%;
    height: 0;
    opacity: 1;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .title {
    position: static;
    display: block;
    font-size: 30px;
  }

  .pricing {
    margin-top: 15px;
    height: 0%;
  }

  .pricing::before {
    content: '';

    filter: blur(0);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    width: 0;
    top: 20%;
    left: 25%;
    height: 0;
    opacity: 1;
  }
}
