.pricing {
  margin-top: 25px;

  height: 418px;
  position: relative;
}

.imgProp {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.title {
  font-family: 'Squada One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 68px;
  text-align: center;

  top: -250px;
  z-index: 100;
  bottom: 89.59%;
  position: relative;
  color: #323131;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    position: static;
    display: block;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .title {
    position: static;
    display: block;
  }

  .pricing {
    margin-top: 15px;
    height: 0%;
  }
}
