.articles {
  margin-top: 100px;
  max-height: 100%;
  margin-bottom: 400px;
}

.left ul li {
  list-style-type: disc;
}

.left .accordion-wrapper .accordion-item .accordion-title {
  width: 40%;
}

.left .accordion-title {
  height: 10%;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.right .title {
  font-family: 'Squada One', sans-serif;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 48px;

  color: #323131;
}

.main {
  display: flex;
}

.text span {
  padding-left: 40px;
}

.text span ul {
  display: block;
  margin-top: 30px;
  padding-left: 0;
  margin-bottom: 30px;
}

.text span ul li {
  list-style-type: disc;
  font-weight: 700;
}

.text {
  margin-top: 50px;
}

.titleunder {
  display: flex;
}

.text span {
  font-weight: 400;
  display: block;
  margin-top: 25px;
}

.articleImg {
  margin-left: 30px;
}

.articleImg img {
  background-size: contain;
}

.Collapsible {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Collapsible__contentInner {
  padding: 10px;
  border-top: 0;
}
.Collapsible__contentOuter {
  width: 70%;
  margin-left: 30px;
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger.is-open {
  background: linear-gradient(136.18deg, #fbda61 2.66%, #f76b1c 90.59%);
}

.Collapsible__trigger.is-closed {
  color: #323131;
}

.Collapsible__trigger {
  display: block;
  margin-bottom: 11px;
  width: 30%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #323131;
  height: 66px;
  position: relative;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: white;
}
.Collapsible__trigger:after {
  content: url('../../assets/icon-rightarrow.svg');

  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(90deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .articles {
    margin-top: 0;
  }

  .Collapsible__contentOuter {
    width: 100%;
    margin-left: 0;
  }

  .Collapsible__contentInner {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .right .title {
    text-align: center;
    margin-bottom: 0;
    font-size: 40px;
  }

  .Collapsible {
    flex-direction: column;
  }

  .Collapsible__trigger.is-closed,
  .Collapsible__trigger.is-open {
    width: 100%;
  }

  .articleImg {
    margin-left: 0;
    margin-top: 20px;
  }

  .articleImg img {
    width: 100%;
  }

  .titleunder {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .articles {
    margin-top: 0;
  }

  .Collapsible__contentOuter {
    width: 100%;
    margin-left: 0;
  }

  .Collapsible__contentInner {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .right .title {
    text-align: center;
    margin-bottom: 0;
    font-size: 40px;
  }

  .Collapsible {
    flex-direction: column;
  }

  .Collapsible__trigger.is-closed,
  .Collapsible__trigger.is-open {
    width: 100%;
  }

  .articleImg {
    margin-left: 0;
    margin-top: 20px;
  }

  .articleImg img {
    width: 100%;
  }

  .titleunder {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
