.navbar {
  display: flex;
}

.list {
  display: flex;
}

.firstitem {
  transition: all 0.5s ease;
  margin-top: 30px;
  margin-right: 35px;
}

.seconditem {
  transition: all 0.5s ease;
  margin-top: 30px;
  margin-right: 35px;
  margin-left: 30px;
}

.seconditem:hover .dropdown {
  display: block;
  z-index: 999;
}

.dropdown {
  padding-left: 0;
  background: #ffffff;
  box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 10px;
  width: 215px;
  max-height: 35%;

  position: absolute;
  display: none;
}

.dropdown:nth-child(1) {
  width: 176px;
  position: absolute;
  right: 250px;
  display: none;
  height: 116px;
}

.firstitem:hover .dropdown {
  display: block;
  z-index: 999;
}

.dropdownLink:first-child {
  margin-top: 24px;
}

.dropdownLink {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding-left: 29px;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
  color: #323131;
  transition: all 0.5 ease;
}

.dropdownLink:hover {
  color: #f76b1c;
}

.button:hover .dropdown {
  display: block;
  left: 0px;
  position: absolute;
  z-index: 999;
}

.dropdownLinkBtn a {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
  color: #323131;
}

.dropdownLinkBtn a:hover {
  color: #f76b1c;
}

.dropdownLinkBtn {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
  color: #323131;
}

.nav {
  margin: 0;
}
.item {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #323131;
  margin-top: 30px;
  position: relative;
  transition: all 0.3s ease;
}

.itemActive {
  color: #f76b1c;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.item:hover {
  color: #f76b1c;
}

.item + .item {
  padding-left: 35px;
}

.item:first-child::before {
  content: '';
  display: block;
  background-image: url('../../assets/checksvg.svg');
  background-repeat: no-repeat;
  width: 8px;
  position: absolute;
  left: 117px;
  top: 7px;
  height: 5px;
}

.imgLogo {
  content: '';
  background-image: url('../../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 190px;
  height: 72px;
  margin-top: 24px;
}

.button {
  border: 1px solid #bfc3cf;
  font-family: var(--font-family);
  outline: none;
  font-weight: 700;
  padding: 11px 54px;
  max-height: 45px;
  text-align: right;
  font-size: 14px;
  line-height: 21px;
  margin-left: 50px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-top: 30px;
  color: #323131;
  border-radius: 22.5px;
  transition: all 0.4s ease;
}

.button:hover {
  border: 1px solid #82848b;
  color: #fff;

  background-color: #999b9e;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .list {
    display: none;
  }

  .imgLogo {
    display: none;
  }

  .button {
    display: none;
  }
}

/* 768 width+  */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .list {
    display: none;
  }

  .imgLogo {
    display: none;
  }

  .button {
    display: none;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .list {
    display: none;
  }

  .imgLogo {
    display: none;
  }

  .button {
    display: none;
  }
}
