.list {
  display: flex;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
  padding-bottom: 42px;
}

.nav {
  margin: 0;
}
.item {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding-left: 170px;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font-family);
  color: #323131;
  margin-top: 30px;
}
.itemActive {
  color: #f76b1c;
}

.item:hover {
  color: #f76b1c;
}

.item + .item {
  padding-left: 35px;
}

.footerBlock {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  line-height: 22px;
  align-items: center;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-family: 'Poppins', sans-serif;

  color: #323131;
}

.logo {
  position: relative;
  top: 22px;
}
.rgmInner {
  margin-left: 66px;
}

.footerRight b {
  color: rgb(182, 161, 67);
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .item {
    padding-left: 0;
  }
}

/* 768 width+  */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .item {
    padding-left: 0;
  }

  .footerBlock {
    flex-direction: column;
  }

  .list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item + .item {
    padding-left: 0;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .item {
    padding-left: 0;
  }

  .footerLeft {
    margin: 0 auto;
  }

  .footerBlock {
    flex-direction: column;
  }
  .list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item + .item {
    padding-left: 0;
  }
}
