* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}

img {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
}

.btnBlue {
  background: linear-gradient(224.86deg, #73ccd8 4.87%, #2b6b9f 96.04%);
  border-radius: 28px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 37px;

  border: none;
  outline: none;
  color: #ffffff;
}

.btnYellow {
  background: linear-gradient(136.18deg, #fbda61 2.66%, #f76b1c 90.59%);
  border-radius: 28px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  outline: none;
  color: #ffffff;
}

.accordion {
  border: none !important;
  border-radius: 2px;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
}

.accordion-title {
  width: 100%;
}

.hamburger-react {
  position: absolute !important;
}

.accordion-wrapper .accordion-item .accordion-panel .panel-open {
  margin-left: 50px;
  background: none;
}

.accordion-wrapper .accordion-item h3.accordion-title button.active {
  background: linear-gradient(224.86deg, #73ccd8 4.87%, #2b6b9f 96.04%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--font-family);
  padding: 20px;
  margin-top: 30px;
  transition: 0.5s ease;
  color: #ffffff;
}

.accordion-wrapper .accordion-item h3.accordion-title button {
  transition: 0.5s ease;
}

.accordion-wrapper .accordion-item h3.accordion-title button:hover {
  background: linear-gradient(224.86deg, #73ccd8 4.87%, #2b6b9f 96.04%);
  color: #fff;
}

.accordion-wrapper .accordion-item h3.accordion-title button {
  background: none;
  color: #000;
}

.btnAny {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.accordion-wrapper .accordion-item h3.accordion-title button.active {
  border: none;
}

.accordion-wrapper .accordion-item .accordion-panel .panel-close {
  background: linear-gradient(224.86deg, #73ccd8 4.87%, #2b6b9f 96.04%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Squada One', cursive;
}

p {
  font-family: 'Poppins', sans-serif;
}

img {
  border-radius: 10px;
}

:root {
  --border-radius: 10px;
  --font-squada: 'Squada One', cursive;
  --font-family: 'Poppins', sans-serif;
  --color-orange: #f76b1c;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .accordion-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .accordion-wrapper .accordion-item .accordion-panel .panel-open {
    margin-left: 0;
  }
}

/* 768 width+  */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .accordion-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .accordion-wrapper .accordion-item .accordion-panel .panel-open {
    margin-left: 0;
  }
}

/* 480 width */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .accordion-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .accordion-wrapper .accordion-item .accordion-panel .panel-open {
    margin-left: 0;
  }

  .btnBlue {
    margin-bottom: 20px;
  }
}
